.carousel-section {
  background-color: #f7faff;
}

.carousel-ribbon-wrapper {
  position: relative;
}

.carousel-ribbon {
  background-color: #0b61cd;
  padding: 1.2rem 0;
  width: 100%;
  position: relative;
  overflow: hidden;

  @media (min-width: 640px) {
    padding: 2rem 0;
  }
}

.main-ribbon:hover .carousel-track,
.reflection-ribbon:hover .carousel-track {
  animation-play-state: paused;
}

.main-ribbon {
  transform: scale(1.1) rotate(-3deg);
  z-index: 2;
}

.reflection-ribbon {
  transform: scale(1.1) rotate(3deg);
  opacity: 0.4;
  margin-top: 0.75rem;
  z-index: 1;
}

.carousel-track {
  display: flex;
  width: calc(250px * 14);
  will-change: transform;
}

.track-forward {
  animation: scroll-forward 25s linear infinite;
}

.track-reverse {
  animation: scroll-reverse 25s linear infinite;
}

@keyframes scroll-forward {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.carousel-item {
  flex-shrink: 0;
  width: 250px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  height: 100%;
  width: auto;
}